/* Variables */

:root {
  --color-background: #faf8f1;
  --color-blue: #23557b;
  --color-lightBlue: #f1f3fa;
  --color-ligthPurple: #f5f0f5;
  --color-purple: #9e009e;
}

/* Global Styles */

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-background);
  color: var(--color-blue);
  font-family: 'Ysabeau Infant', sans-serif;
  font-size: 3rem;
  margin: 0;
  padding: 0;
  line-height: 1.3;
}

/* Headings */

h1 {
  margin-top: 15rem;
  text-align: center;
  font-size: 5rem;
}

h2 {
  font-size: 4rem;
}

/* Navigation Bar */

.navBar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--color-lightBlue);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5rem;
}

.navBar ul {
  display: flex;
  width: 40rem;
  justify-content: space-between;
}

.navBar li {
  list-style: none;
}

.navBar a {
  text-decoration: none;
  color: var(--color-blue);
  font-weight: 800;
}

/* Logo */

.logo {
  width: 12rem;
  height: 100%;
}

/* Home Page */

.home {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.homepage-image {
  object-fit: cover;
  height: calc(80% - 13rem);
  width: 100%;
  padding: 0 5rem;
}

/* Cake Page - Cake Images */

#cake-images {
  width: 100%;
  height: auto;
  padding: 1rem 2rem;
}

.cake-image-tile {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 5rem;
  width: 100%;
  max-width: 130rem;
  margin: 0 auto;
}

.cake-image {
  height: calc(95% - 2rem);
  width: 100%;
  object-fit: cover;
}

/* Menu Page - Tables */

.table-container {
  margin-top: 15rem;
  display: flex;
  justify-content: space-between;
}

.table {
  border-collapse: collapse;
  width: 30%;
  margin-bottom: 2rem;
  background-color: var(--color-ligthPurple);
}

.table th,
.table td {
  border: 1px solid #ccc;
  padding: 0.8rem;
  text-align: center;
}

.table th {
  font-size: 3rem;
}

.table td {
  font-size: 2rem;
}

/* Login Page */

.login-page {
  height: 100vh;
}

.logout-admin-buttons {
  display: flex;
  justify-content: space-around;
}

/* User Profile */

.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile-image {
  margin-top: 2rem;
  padding: 0 2rem;
  width: 100%;
  height: 35vh;
}

.user-details {
  margin: 0 2rem;
}

.user-details li {
  font-size: 2rem;
  padding: 0 1rem;
  word-wrap: normal;
  word-break: break-word;
}

/* Buttons */

.button-container {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.button {
  cursor: pointer;
  background-color: var(--color-ligthPurple);
  color: rgb(104, 85, 224);
  border: 1px solid rgba(104, 85, 224, 1);
  border-radius: 4px;
  font-size: 3rem;
  font-weight: 600;
  padding: 1.5rem 5rem;
  margin: 0 1rem;
  width: 25rem;
  box-shadow: 0 0 2rem rgba(104, 85, 224, 0.2);
  transition: 0.4s;
}

.button:hover {
  color: white;
  box-shadow: 0 0 2rem rgba(104, 85, 224, 0.6);
  background-color: rgba(104, 85, 224, 1);
}

.button-admin {
  text-decoration: none;
}

/* Media Queries */

@media only screen and (max-width: 43em) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 3rem;
  }
  .navBar {
    height: 13rem;
    line-height: 1;
  }
  .navBar ul {
    display: block;
    width: 10rem;
  }
  .navBar a {
    font-size: 2.5rem;
  }
  .cake-image-tile {
    grid-template-columns: 1fr;
  }
  .cake-image {
    max-width: 100%;
    max-height: 50rem;
    object-fit: contain;
  }
  .table-container {
    flex-direction: column;
    margin-right: 5rem;
    margin-left: 5rem;
  }
  .table {
    width: 100%;
  }
  .table th {
    font-size: 2.5rem;
  }
  .table td {
    font-size: 1.8rem;
  }
  .button {
    width: 12rem;
    font-size: 2rem;
    padding: 1rem 1rem;
  }
  .user-details li {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 24.2em) {
  h1,
  h2 {
    word-wrap: normal;
    padding: 0 2rem;
  }
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2rem;
  }
  .logo {
    display: none;
  }
  .navBar ul {
    width: 100%;
    padding: 0;
    text-align: center;
  }
  .table-container {
    margin-left: 0;
    margin-right: 0;
  }
  .table th {
    font-size: 2rem;
  }
  .table td {
    font-size: 1.5rem;
  }
  .logout-admin-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .user-details {
    font-size: 1.5rem;
  }
}

/* Loading Spinner */

.loader {
  transform: rotateZ(45deg);
  perspective: 1000px;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  color: var(--color-blue);
}
.loader:before,
.loader:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  border-radius: 50%;
  transform: rotateX(70deg);
  animation: 1s spin linear infinite;
}
.loader:after {
  color: var(--color-purple);
  transform: rotateY(70deg);
  animation-delay: 0.4s;
}

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotateZ(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotateZ(360deg);
  }
}

@keyframes rotateccw {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}

@keyframes spin {
  0%,
  100% {
    box-shadow: 0.2em 0px 0 0px currentcolor;
  }
  12% {
    box-shadow: 0.2em 0.2em 0 0 currentcolor;
  }
  25% {
    box-shadow: 0 0.2em 0 0px currentcolor;
  }
  37% {
    box-shadow: -0.2em 0.2em 0 0 currentcolor;
  }
  50% {
    box-shadow: -0.2em 0 0 0 currentcolor;
  }
  62% {
    box-shadow: -0.2em -0.2em 0 0 currentcolor;
  }
  75% {
    box-shadow: 0px -0.2em 0 0 currentcolor;
  }
  87% {
    box-shadow: 0.2em -0.2em 0 0 currentcolor;
  }
}
